:root {
  --grey: rgba(83, 83, 83, 1);
  --blue-hover: rgba(149, 181, 209, 0.7);
  --blue: rgba(149, 181, 209, 1);
  --lightblue: rgba(90, 134, 173, 0.5);
  --lightblue2: rgba(90, 134, 173, 0.2);
  --bgm: rgb(239, 239, 239);
  --components: white;
  --font1: "Lato", sans-serif;
  --font2: "Nunito Sans", sans-serif;
  --font3: "Open Sans", sans-serif;
  --font4: "Raleway", sans-serif;
  --font5: "Josefin Sans", sans-serif;
}

.navbar {
  height: 4rem;
  background-color: var(--blue);
  margin: 0 0 1.5rem 0;
}

.navbar nav {
  height: 100%;
}

.navbar ul {
  height: 100%;
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: start;
}

.navbar li {
  margin: 0 1rem;
  width: 10rem;
  display: flex;
  justify-content: center;
  font-size: 1.1rem;
}

.navbar a {
  color: white;
  text-decoration: none;
}

.navbar a:hover,
.navbar a:active,
.navbar a.active {
  color: whitesmoke;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid whitesmoke;
}

.logo {
  height: 75%;
  padding: 0 0 0 4rem;
}

.brand {
  font-size: 2rem;
  margin: 0;
  color: white;
  font-family: var(--font3Í);
  /* font-weight: bold; */

  display: flex;
  justify-content: start;
}
